/* APP CSS */

/* Welcome App */
.welcomeCover {
  display: none;
  background-color: blue;
  width: 100%; height: 100%;
}


/* Danger/u/ App */
.dangerCover {
  display: none;
  background-color: #000;
  width: 100%; height: 100%;
}
.dangerBar {
  display: block;
  width: 100%; height: 100px;
  background-color: #CC313F;
}
.dangerContainer {
  padding: 2% 5%;
  text-align: left;
}
.dangerWelcome {
  margin: 0 0 40px 0;
}
#dangerWelcome-img {
  display: inline-block;
  width: 200px;
  margin: 0 10px 0 0;
}
.dangerWelcome-text {
  display: inline-block;
  font-size: 54px; text-align: left;
  vertical-align: top;
}
.dangerAltfont {
  font-family: cyber;
  font-size: 36px;
}


/* Gallary App */
.lifeCover {
  display: none;
  background-color: green;
  width: 100%; height: 100%;
}


/* Augmented Eye */
.augeyeCover {
  display: none;
  background-color: #F0D3CE;
  width: 100%; height: 100%;
  /* Need a inner border */
}
.augeyeBar {
  display: block;
  width: 100%; height: 100px;
  background-color: #000;
}
.augeyeContainer {
  padding: 2% 5%;
  text-align: left;
}

