/* APP CSS */

/* Welcome App */
.welcomeCover {
  display: none;
  background-color: #202020;
  width: 100%; height: 100%;
}
#welcomeSoon {
  font-size: 64px;
  padding: 40px;
}


/* Danger/u/ App */
.dangerCover {
  display: none;
  background-color: #202020;
  width: 100%; min-height: 100%;
}
.dangerBar {
  display: block;
  width: 100%; height: 100px;
  background-color: #CC313F;
}
.dangerContainer {
  padding: 2% 5%;
  text-align: left;
}
.dangerWelcome {
  margin: 0 0 40px 0;
}
#dangerWelcome-img {
  display: inline-block;
  width: 200px;
  margin: 0 10px 0 0;
}
.dangerWelcome-text {
  display: inline-block;
  font-size: 54px; text-align: left;
  vertical-align: top;
}
.dangerAltfont {
  font-family: cyber;
  font-size: 36px;
}

.dangerThread-cont {
  text-align: center;
  padding: 20px 20px 40px 20px;
}
.dangerThread {
  width: 400px; height: 260px;
  display: inline-block; vertical-align: top;
  background-color: #000;
  margin: 10px;
  cursor: pointer;
}
.dangerImage {
  width: 400px; height: 200px;
  background-color: #101010;
  display: inline-block; vertical-align: top;
  background-position: center; background-size: cover;
}
.dangerContent {
  padding: 10px;
}
.dangerTitle {
  font-size: 22px;
}
.dangerText {
  font-size: 16px;
}


/* Gallary App */
.galleryCover {
  display: none;
  background-color: #062110;
  width: 100%; min-height: 100%;
}
.galleryBar {
  display: block;
  width: 100%; height: 100px;
  background-color: #117035;
}
.galleryContainer {
  padding: 2% 5%;
  text-align: left;
}
.galleryWelcome {
  margin: 0 0 40px 0;
}
#galleryWelcome-img {
  display: inline-block;
  width: 200px;
  margin: 0 10px 0 0;
}
.galleryWelcome-text {
  display: inline-block;
  font-size: 54px; text-align: left;
  vertical-align: top;
  color: #fff;
}
.galleryAltfont {
  font-family: cyber;
  font-size: 36px;
  color: #fff;
}

.galleryItem-cont {
  text-align: center;
  margin: 0 0 30px 0;
}
.galleryItem-land {
  display: inline-block;
  width: 360px; height: 202px;
  vertical-align: top;
  background-color: #101010;
  margin: 10px;
  background-position: center;
  background-size: cover;
}
.galleryItem-port {
  display: inline-block;
  width: 360px; height: 202px;
  vertical-align: top;
  background-color: #202020;
  margin: 10px;
  background-position: center;
  background-size: contain; /* Ensures entire work is viewable */
}
.galleryItem-text {
  vertical-align: middle;
  line-height: 202px;
  text-shadow: #000 2px 2px 2px;
}

#galleryContact {
  font-size: 22px;
  padding: 50px;
  text-shadow: #000 2px 2px 2px;
}

/* Augmented Eye */
.augeyeCover {
  display: none;
  background-color: #F0D3CE;
  width: 100%; min-height: 100%;
}
.augeyeBar {
  display: block;
  width: 100%; height: 100px;
  background-color: #000;
}
.augeyeContainer {
  padding: 2% 5%;
  text-align: left;
}
.augeyeWelcome {
  margin: 0 0 40px 0;
}
#augeyeWelcome-img {
  display: inline-block;
  width: 200px;
  margin: 0 10px 0 0;
}
.augeyeWelcome-text {
  display: inline-block;
  font-size: 54px; text-align: left;
  vertical-align: top;
  color: #5D0E35;
}
.augeyeAltfont {
  font-family: cyber;
  font-size: 36px;
  color: #5D0E35;
}

.augeyeItem-container {
  text-align: center;
}
.augeyeLine {
  border: 1px solid #5D0E35;
}
.augeyeItem {
  display: inline-block;
  width: 260px; height: 400px;
  background-color: #5D0E35;
  padding: 20px;
  margin: 20px;
  vertical-align: top;
}
.augeyeItem-inner {
  width: 100%; height: 100%;
  background-color: #F0D3CE;
}
.augeyeItem-innerImage {
  width: 100%; height: 35%;
  background-color: #202020;
  margin: 0 0 4% 0;
  background-size: cover;
  background-position: center;
}
.augeyeItem-innerCont {
  padding: 2%;
}
.augeyeItem-innerText {
  font-size: 16px; font-family: vcr; color: #5D0E35;
}
.augeyeButton {
  display: block; position: relative; bottom: 0;
  font-family: vcr; font-size: 18px; text-align: center; text-decoration: none; text-transform: uppercase;
  background-color: #F0D3CE; color: #5D0E35;
  width: 100px; height: 36px;
  border: 2px solid #5D0E35;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.augeyeButton:hover {
  background-color: #5D0E35;
  color: #fff;
}


/* Universal */
.appBack {
  position: fixed;
  bottom: 0;
  width: 100%; height: 60px;
  background-color: #000;
}
.appClose {
  cursor: pointer;
  height: 60px;
  display: none;
}
@media screen and (max-width: 640px) {
  .appBack {
    height: 30px;
  }
  .appClose {
    height: 30px;
  }
}