/* Landing CSS */
#welcomeLayer {
  background-image: url("../img/landing/landing-bg.png");
  height: 100%;
}

.welcome {
  position: absolute; top: 10%; left: 5%;
}
.jill {
  font-size: 86px;
  text-align: left;
}

#unlock {
  width: 172px;
  opacity: 0.3;
  position: absolute; top: 60%; left: 5%;
  cursor: pointer;
  transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
}
#unlock:hover {
  opacity: 1;
}

#note {
  font-size: 18px;
  opacity: 0.6;
  position: absolute; top: 90%; left: 5%;
}
#help {
  font-size: 18px;
  opacity: 0.6;
  position: absolute; top: 86%; left: 5%;
  color: #00ff00;
  animation: fade-in 60s;
}

/* Animations */
.fade {
  animation: fade-in 2s;
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fadeout {
  animation: fade-out linear infinite 0.7s;
}
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* @Media CSS */
@media screen and (max-width: 1367px) {
  body {
    background-position: 60%;
  }
  .jill {
    font-size: 56px;
  }
  #unlock {
    width: 128px;
  }
}